<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-navigation-bar></app-navigation-bar>
  <!-- <div class="float-left">
  <button type="button" class="btn btn-primary"  [routerLink]="['/java8']" routerLinkActive="routerLinkActive">java8</button>
  <button type="button" class="btn btn-primary" [routerLink]="['/interviewQuestions']" routerLinkActive="routerLinkActive">Interview Questions</button>
  <button type="button" class="btn btn-primary" [routerLink]="['/navbar']" routerLinkActive="router-link-active" >Navbar</button>
</div>   -->
</div>
<router-outlet></router-outlet>
